	<ion-view view-title="Nosotros" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		
 
  <div class="text-center">
    <img class="avatar relative" ng-src="data/images/images/logo123123.png" />
    <p>Decreto Natural</p>
  </div>
 
<br/>

<div class="list card">
 
  <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/Decreto-Natural-1139982116077154/?fref=ts')" >
    <i class="positive icon ion-social-facebook"></i>
   Visita nuestro Facebook
  </a>
  
   
  <a class="item item-icon-left" ng-click="openURL('https://twitter.com/search?q=Decreto%20Natural&src=typd')" >
    <i class="calm icon ion-social-twitter"></i>
   Síguenos en Twitter
  </a>
  
   <a class="item item-icon-left" ng-click="openURL('mailto:guille4201@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    Envíanos un Email<br/>
   
  </a>
   
</div>

<br/>
<div class="text-center">

</div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
