	<ion-view view-title="" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
		<div><img src="data/images/images/logo.png" width="200" height="148" caption="false" style="display: block; margin-left: auto; margin-right: auto;" /></div>
<div class="dashboard-panel"><!-- row -->
<div class="row">
<p></p>
</div>
	<div><img src="data/images/images/bg11.png" width="40%" height="" caption="false" style="display: block; margin-left: auto; margin-right: auto;" /></div><br  />
	<div class="col col-center text-center">
	
		
	
	<div class="content padding">
                                 
		<a class="button button-block button-assertive icon ion-log-in"  ng-href="#/aerosa/slide_tab_menu" >
					&nbsp;&nbsp;&nbsp;Lista de Precios
		</a>
	   
      
      	<a class="button button-block button-energized icon ion-log-in" ng-click="openWebView('http://galeria.aplicacionesmoviles.uy')">						
									&nbsp; Galería de Productos
		
		</a>
		
		
											   
	</div>
		</div>
<div class="col col-center text-center">
	<p>EXCELENTE CALIDAD A PRECIOS INCREIBLES !!
EMPEZA A CUIDARTE COMIENDO 100% NATURAL !! </p>
	</div>
			</div>
		</ion-content>
		
	</ion-view>
